*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 1.8rem;
    background-color: var(--white);
}

p {
    overflow-wrap: break-word;
}
